<div class="list-group mt-3" *ngFor="let booking of bookings">
  <a routerLink="/edit/{{booking.id}}" class="list-group-item list-group-item-action mb-2" aria-current="true">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Guest : {{booking.name}}</h5>
      <small>Booking ID : {{booking.id}}</small>
    </div>
    <p class="mb-1">{{booking.startDate | date: "dd/MM/yy"}} bis {{booking.endDate | date: "dd/MM/yy"}}</p>
    <small>Room : {{booking.roomNumber}}</small>
  </a>
</div>
