<div class="list-group mt-3" *ngFor="let booking of bookings">
  <div class="list-group-item mb-2" aria-current="true">
    <div class="d-flex w-100 justify-content-between">
      <a routerLink="/edit/{{booking.id}}" class="mb-1 h5 text-decoration-none ">{{booking.name}}
      </a>
      <button class="btn btn-close" (click)="deleteBooking(booking)">

      </button>

    </div>
    <p class="mb-1">{{booking.startDate | date: "dd/MM/yy"}} bis {{booking.endDate | date: "dd/MM/yy"}}</p>
    <small>Room : {{booking.roomNumber}}</small>
  </div>
</div>
