<div class="card bg-dark text-light mb-3">
  <div class="card-header bg-light text-dark">
    <h5>Create New Booking</h5>
  </div>

  <form [formGroup]="bookingForm" (ngSubmit)="onSubmit()">
    <div class="card-body">
      <div class="row mb-2">
        <div class="col">
          <!--ID-->
          <label for="id" class="form-label">ID</label>
          <input [attr.disabled]=true formControlName="id" id="id" class="form-control bg-secondary " type="text" />
        </div>
        <div class="col">
          <!--ROOM NUMBER-->
          <label for="roomNumber" class="form-label">Room Number</label>
          <input placeholder="0" formControlName="roomNumber" class="form-control bg-light" id="roomNumber"
            type="number" />
        </div>
      </div>
      <div class="row mb-2">
        <div class="col-12">
          <!--NAME-->
          <label for="guestName" class="form-label">Guest Name</label>
          <input placeholder="Please enter your Name" formControlName="name" class="form-control bg-light"
            id="guestName" type="text" />
        </div>
      </div>
      <div class="row">
        <div class="col">
          <!--START DATE-->
          <label for="startDate" class="form-label">Check In</label>
          <input (input)="dateChanged($event, true)" class="form-control bg-light" id="startDate"
            formControlName="startDate" [value]="booking.startDate | date:'yyyy-MM-dd'" type="date" />
        </div>
        <div class="col">
          <!--END DATE-->
          <label for="endDate" class="form-label">Check Out</label>
          <input (input)="dateChanged($event, false)" class="form-control bg-light" id="endDate"
            formControlName="endDate" [value]="booking.endDate | date:'yyyy-MM-dd'" type="date" />
        </div>
      </div>
    </div>
    <div class="card-footer d-flex justify-content-center">
      <button type="submit" class="btn bg-light w-25 m-2">
        Submit
      </button>
    </div>
  </form>
</div>
